input, button,select,textarea {
  margin: 5px 0px; /* 要素の上下のマージンを追加 */
  text-align: left; /* テキストを左詰めにする */
  border: 1px solid rgb(118, 118, 118); /* 薄い黒のボーダー */
  border-radius: 5px; /* 角を少し丸める */
}

input[type="range"] {
  width: 100%; /* 幅を100%にする */
}

form {
  display: flex; /* フォーム内の要素を横並びにする */
  flex-direction: column; /* 縦方向に並べる */
  align-items:left; 
}
.container {
  width: 50%; /* 横幅を狭くする */
  margin: 5px auto; /* 中央揃えにする */
  padding: 20px; /* 内側の余白を追加 */
  border: 1px solid rgb(118, 118, 118); /* 薄い黒のボーダー */
  border-radius: 5px; /* 角を少し丸める */
}


textarea {
  width: 100%; /* 幅を100%にする */
  margin-bottom: 10px; /* 下のマージンを追加 */
}
label{
  text-align: left; /* テキストを左詰めにする */
}
.deadline-container,.category-container {
  display: flex;
  align-items: center;
}
.category-container{
  justify-content: space-between;
}
/* 日付入力フィールドの横幅を最小限にする */
input[type="date"] {
  width: auto; /* 幅を自動にする */
}

.note {
  display:flex;
  justify-content: flex-end;
  color: rgb(118, 118, 118);
  font-size: 0.6em;
}
.min{
  width: 3em;
  max-width:100%;
}
.mid{
  width:5em;
}