input[type="text"], input[type="range"], input[type="date"], button {
  margin: 5px 5px; /* 要素の上下のマージンを追加 */
  text-align: left; /* テキストを左詰めにする */
}

input[type="range"] {
  width: 100%; /* 幅を100%にする */
}

form {
  display: flex; /* フォーム内の要素を横並びにする */
  flex-direction: column; /* 縦方向に並べる */
  align-items:left; 
}
.container {
  border: 1px solid #ccc; /* ボーダーを表示(薄め) */
  width: 50%; /* 横幅を狭くする */
  margin: 5px auto; /* 中央揃えにする */
  padding: 20px; /* 内側の余白を追加 */
}

input[type="text"] {
  width: 100%; /* 幅を100%にする */
  margin-bottom: 10px; /* 下のマージンを追加 */
}

textarea {
  width: 100%; /* 幅を100%にする */
  margin-bottom: 10px; /* 下のマージンを追加 */
}
label{
  text-align: left; /* テキストを左詰めにする */
}
.deadline-container,.category-container {
  display: flex;
  align-items: center;
}

/* 日付入力フィールドの横幅を最小限にする */
input[type="date"] {
  width: auto; /* 幅を自動にする */
}

#newCategory {
  flex: 1; /* 残りのスペースを全て占める */
}
