*{
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: "Consolas", "メイリオ";
}
body {
    margin: 0;
    padding: 0px 0;
    border: 0 solid #24292f;
    min-height: 100vh;
}
header {
    height:10vh;
    margin:0;
    top: 0;
    position:fixed;
    width:100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.logo a{
    display:block;
    margin-left:0px;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
nav{
    margin-left: auto;
}
.menu-group {
    list-style: none;
    display:flex;
}
.menu-item {
    margin:0 2vw;
    display:block;
    color: #fff;
    text-decoration: none;
}
/* サイドバー */
#sidebar {
    width: 250px;
    height: 100vh;
    padding: 5px 10px;
    position: fixed;
    top: 10vh;
    left: -250px;  /* 初期状態では非表示 */
    background-color: #fff;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    transition: left 0.3s;  /* アニメーション */
    z-index: 1000;  /* サイドバーを前面に */
  }
  
 
  #sidebar.open {
    /* 展開状態 */
    left: 0px;
  }
  #toggle-sidebar{
    padding: 10px 15px;
    min-width: 50px;
  }
  
  #search-bar input {
    width: 100%;
    padding: 8px;
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  #sidebar ul li {
    margin-bottom: 10px;
  }
  
  #sidebar ul li a {
    text-decoration: none;
    color: black;
  }

main {
    height: auto;
    margin-top:10vh;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
}