*{
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: "Consolas", "メイリオ";
}
body {
    margin: 0;
    padding: 0px 0;
    border: 0 solid #24292f;
    min-height: 100vh;
}
header {
    height:10vh;
    margin:0;
    top: 0;
    position:fixed;
    width:100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo a{
    display:block;
    margin-left:1vw;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.menu-group {
    list-style: none;
    display:flex;
}
.menu-item {
    margin:0 2vw;
    display:block;
    color: #fff;
    text-decoration: none;
}


main {
    height: auto;
    margin-top:10vh;
}

h1 {
    text-align: center;
}
.detail {
    font-size: 0.6em;
}
table {
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    white-space: pre-line;
}

table th {
    height:3vh;
    background-color: #f2f2f2;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
}