html {
    font-size: 20px;
    font-family: "Consolas", "メイリオ";
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body {
    margin: 0;
    padding: 10px 0;
    border: 0 solid #24292f;
    min-height: 100vh;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto; /* ロゴを右端に寄せるためにmargin-rightをautoに設定 */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}