main {
  flex-grow: 1;
  padding: 20px;
}
span{
  margin:0 0;
  font-size:0.8em;
}
.container-pane{
  display:flex;
  justify-content:center;
}
/* タスクリストのスタイリング */
.tasks-container {
  text-align: center;
  border: 2px solid #ccc;
  padding: 12px;
  width: fit-content;
  margin:0 2px;
}

.task-list h2 {
  margin-top: 0;
  
}
p{
  margin-bottom:0;
}
.left-contents{
  display:flex;
  flex-grow:1;
  justify-content: flex-start; /* 左側の要素を左に寄せる */
  margin-right:3vw;
}
.task-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;  /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 影をつける */
  padding: 4px;
  margin-top: 10px;  /* アイテム間の距離を開ける */
}
a {
  text-decoration: none;
}
.task-item:last-child {
  border-bottom: none;
}

.btn {
  margin-top:2vh;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0px 10px; 
  display: inline-block;
  text-align: center;
}

label {
  display: inline-block;
  text-align: right; /* テキストを右揃えに */
  margin-right: 2vh; /* ラベルとセレクトボックスの間に余白を設定 */
}
/* プルダウンメニューとラベルのスタイリング */
.label-select-container {
  display:flex;
  margin: 0px 0px;  /* 右側にマージンを設定 */
  text-align:left;
  justify-content: space-between;
}

.label-select-container label,
.label-select-container select {
  margin: 0;  /* 余計なマージンを削除 */
  padding: 0;  /* 余計なパディングを削除 */
  font-size:0.7em;
}

input{
  display:inline;
  margin-left:5px;
  margin-right:5px;
}

h1 {
    font-size: 18px;
}

td {
    border: 2px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}