main {
  flex-grow: 1;
  padding: 20px;
}
p{
  margin:0 0;
  font-size:0.8em;
}
.container-pane{
  display:flex;
  justify-content: flex-end;
}
/* タスクリストのスタイリング */
#task-list {
  border: 2px solid #ccc;
  padding: 15px;
  width: fit-content;
  margin:0 2px;
}

#task-list h2 {
  margin-top: 0;
}
.task-title{
  font-size: 1.2em;
  font-weight:bold;
}

.task-item {
  border: 1px solid #ccc;
  border-radius: 10px;  /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 影をつける */
  padding: 4px;
  margin-top: 10px;  /* アイテム間の距離を開ける */
}

.task-item:last-child {
  border-bottom: none;
}

/* 並び替えとフィルターのスタイリング（必要に応じて） */
label {
  font-size:0.7em;
  display: inline-block;
  width: 6em;  /* 幅を固定 */
}

/* プルダウンメニューとラベルのスタイリング */
.label-select-container {
  display: inline;  /* インライン要素として表示 */
  margin: 0px 0px;  /* 右側にマージンを設定 */
}

.label-select-container label,
.label-select-container select {
  margin: 0;  /* 余計なマージンを削除 */
  padding: 0;  /* 余計なパディングを削除 */
}

#new-task {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

#new-task h2 {
  margin-top: 0;
}

#new-task input[type="text"],
#new-task input[type="date"],
#new-task button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

#new-task input[type="range"] {
  width: 100%;
  margin-top: 10px;
}