h1 {
    text-align: center;
}
.detail {
    font-size:1rem;
}
table {
    width: 100%;
    height: 90vh;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 0px;
    text-align: center;
    position: relative;
}
.subject {
    width:19%;
    height:24.25%;
}

table th {
    height:3%;
    width:5%;
    background-color: #f2f2f2;
}

.subject-name{
    font-size: 1.2rem;
    font-weight:bold;
    margin:0 0;
}
label {
    font-size:0.7em;
    display: inline-block;
    width: 6em;  /* 幅を固定 */
}

ul{
    list-style: none;
  }
/* ボタンを右下に配置 */
.add-class-btn,.edit-subject-btn{
    position: absolute;
    border: none;
    background-color: transparent; /* 背景を透明にする */
    bottom: 0;
    right: 0;

}

.remove-class-btn,.remove-subject-btn{
    position: absolute;
    border: none;
    background-color: transparent; /* 背景を透明にする */
    top: 0;
    right: 0;
}

.increase-absences,.increase-tardies{
    font-size:0.7rem;
    margin:0 0.4vw;
}

.class-container{
    padding: 0 2.5vw;
    text-align: center;
}
.flex {
    display:flex;
    justify-content: center;
}