<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>list app</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP" rel="stylesheet">
    <meta name="author" content="Soburi">
    <meta name="description" content="Soburi's homepage">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/b740cfc262.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <img src="/images/test.jpg">
    </div>
    <h1>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
</body>
</html>
