<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>list app</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP" rel="stylesheet">
    <meta name="author" content="Soburi">
    <meta name="description" content="Soburi's homepage">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="siteicon.ico" type="/image/x-icon">
    <script src="https://kit.fontawesome.com/b740cfc262.js" crossorigin="anonymous"></script>
</head>
<body>

</body>
</html>