<header>
  <div>
    <i class="fa-solid fa-bars" style="color: #ffffff;" id="toggle-sidebar"></i>
  </div>
    <div class="logo">
      <a class="logo" href="/">StudySavvyKosen</a>
    </div>
    <nav>
      <ul class="menu-group">
        <li><a class="menu-item" href="/">時間割</a></li>
        <li><a class="menu-item" href="/task">タスク管理</a></li>
        <li><a class="menu-item" href="#">お知らせ</a></li>
        <li><a class="menu-item" href="/getSubjects">科目インポート</a></li>
        <li><a class="menu-item" href="#">シラバス</a></li>
        <li><a class="menu-item" href="#">全科目</a></li>
        <li><a class="menu-item" href="/logout">ログアウト</a></li>
      </ul>
    </nav>
  </header>
  