<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="post">
            <div class="form-group">
                <label for="user_id">id:</label>
                <input type="text" id="user_id" name="user_id" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            </form>
            <div class="register-link">
                <p>アカウントをお持ちでないですか？ <a href="/register-page">登録する</a></p>
            </div>
        </div>
    </main>
  
</body>
</html>
