<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="/css/new-task.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <div class="container">
            
            <form action="/addTask" method="post">
                <input type="text" name="name" placeholder="新しいタスク名">
                <label for="category">カテゴリ:</label>
                <div class="category-container">
                    
                    <select class="categories" name="category_id">
                        <option value="0">ALL</option>
                    </select>
                    <div>
                    <input type="text" id="newCategory" placeholder="新しいカテゴリ名">
                    <button type="button" id="addCategoryBtn" class="btn">追加</button>
                    </div>
                </div>
                
                <div class="box">
                    <label for="importance">重要度:</label>
                    <input type="range" id="importance" name="importance" min="0" max="10">
                    <label for="lightness">軽さ:</label>
                    <input type="range" id="lightness" name="lightness" min="0" max="10">
                    <div class="deadline-container">
                        <label for="deadline">期限:</label>
                        <input type="date" name="deadline">
                    </div>
                    <span>上記3つのパラメータを設定すると、ファジィ推論によって自動的に優先度が設定されます。</span>
                </div>
                <textarea id="memo" name="memo" placeholder="自由記述欄"></textarea>
                <div style="text-align: right;">
                    <button type="submit" class="btn">タスク追加</button>
                </div>
            </form>
            
        </div>
    </main>
    <script src="/js/add-category.js"></script>
</body>
</html>
