<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('head.ejs') %>
    <link href="/css/tasks.css" rel="stylesheet">
    <script src="/js/calender.js"></script>
    
</head>

<body>
  <%- include('header.ejs') %>
    <aside id="sidebar">
      <div id="search-bar">
        <input type="text" placeholder="タスク検索...">
      </div>
      <ul>
        <li><a class="add-task-btn" href="/newTask">新しいタスク</a></li>
        <!-- ここに必要な要素を追加 -->
      </ul>
    </aside>
    <main>

      <div class="container-pane">
        <!-- <div id="calendar"></div> -->
        <div class="tasks-container" box-index="1">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container">
            <label for="sort">並び替え:</label>
            <select class="sort" name="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
            </select>
          </div>
          <div class="label-select-container">
            <label for="categories">カテゴリ:</label>
            <select class="categories" name="category_id">
            </select>
          </div>
          <div class="task-list">
          
          </div>
        </div>

        <div class="tasks-container" box-index="2">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container">
            <label for="sort">並び替え:</label>
            <select class="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
            </select>
          </div>
          <div class="label-select-container">
            <label for="categories">カテゴリ:</label>
            <select class="categories" name="category_id">
            </select>
          </div>
          <div class="task-list">
          </div>
        </div>

        <div class="tasks-container" box-index="3">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container">
            <label for="sort">並び替え:</label>
            <select class="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
            </select>
          </div>
          <div class="label-select-container">
            <label for="categories">カテゴリ:</label>
            <select class="categories" name="category_id">
            </select>
          </div>
          <div class="task-list">
          </div>
        </div>

        <div class="tasks-container"  box-index="4">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container">
            <label for="sort">並び替え:</label>
            <select class="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
            </select>
          </div>
          <div class="label-select-container">
            <label for="categories">カテゴリ:</label>
            <select class="categories" name="category_id">
            </select>
          </div>
          <div class="task-list">
          </div>
        </div>
        
        <div class="tasks-container" box-index="5">
          <p class="task-title">タスクリスト</p>
          <!-- 並び替えプルダウン -->
          <div class="label-select-container">
            <label for="sort">並び替え:</label>
            <select class="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
            </select>
          </div>
          <div class="label-select-container">
            <label for="categories">カテゴリ:</label>
            <select class="categories" name="category_id">
            </select>
          </div>
          <div class="task-list">
          </div>
        </div>

      </div>
    </main>

</body>
<script src="/js/show-tasks.js"></script>
<script src="/js/add-category.js"></script>
<%- include('common-scripts.ejs') %>
</html>