<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('head.ejs') %>
  <link href="/css/task.css" rel="stylesheet">
  <script src="/js/calender.js"></script>
</head>
<body>
  <%- include('header.ejs') %>
  <aside id="sidebar">
    <div id="search-bar">
      <input type="text" placeholder="タスク検索...">
    </div>
    <ul>
      <li><a class="add-task-btn popup">新しいタスク</a></li>
      <!-- ここに必要な要素を追加 -->
    </ul>
  </aside>
  <main>
    
    <div class="container-pane"> 
      <div id="calendar"></div> 
      <div id="task-list">
        <p class="task-title">タスクリスト</p>
        <!-- 並び替えプルダウン -->
        <div class="label-select-container">
          <label for="sort">並び替え:
          <select id="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
          </select>
          </label>
        </div>
    
        <!-- フィルタープルダウン -->
        <div class="label-select-container">
          <label for="filter">フィルター:
          <select id="filter">
              <option value="not-started">未実行</option>
              <option value="in-progress">実行中</option>
              <option value="completed">実行済み</option>
          </select>
          </label>
        </div>
    
        <!-- 仮のタスク -->
        <div class="task-item popup" id="edit-task">
          <p>タスク1</p>
            
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク2</p>
            
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク3</p>
          
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク4</p>
          
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク5</p>
          
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク6</p>
          
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク7</p>
          
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク8</p>
          
        </div>
      </div>

      <div id="task-list">
        <p class="task-title">タスクリスト</p>
        <!-- 並び替えプルダウン -->
        <div class="label-select-container">
          <label for="sort">並び替え:
          <select id="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
          </select>
          </label>
        </div>
    
        <!-- フィルタープルダウン -->
        <div class="label-select-container">
          <label for="filter">フィルター:
          <select id="filter">
              <option value="not-started">未実行</option>
              <option value="in-progress">実行中</option>
              <option value="completed">実行済み</option>
          </select>
          </label>
        </div>
        <!-- 仮のタスク -->
        <div class="task-item popup" id="edit-task">
            <p>タスク1</p>
        </div>
            
        <div class="task-item popup" id="edit-task">
            <p>タスク2</p>  
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク3</p>
          
        </div>
      </div>

      <div id="task-list">
        <p class="task-title">タスクリスト</p>
        <!-- 並び替えプルダウン -->
        <div class="label-select-container">
          <label for="sort">並び替え:
          <select id="sort">
              <option value="priority">自動優先度</option>
              <option value="importance">重要度</option>
              <option value="lightness">軽さ</option>
              <option value="deadline">締切</option>
          </select>
          </label>
        </div>
    
        <!-- フィルタープルダウン -->
        <div class="label-select-container">
          <label for="filter">フィルター:
          <select id="filter">
              <option value="not-started">未実行</option>
              <option value="in-progress">実行中</option>
              <option value="completed">実行済み</option>
          </select>
          </label>
        </div>
    
        <!-- 仮のタスク -->
        <div class="task-item popup" id="edit-task">
            <p>タスク1</p>
            
        </div>
        <div class="task-item popup" id="edit-task">
            <p>タスク2</p>
            
        </div>
        <div class="task-item popup" id="edit-task">
          <p>タスク3</p>
          
        </div>
      </div>

    </div>
  </main>
    
  <%- include('footer.ejs') %>
  <div class="modal-container">
    <div class="modal-body">
      <!-- 閉じるボタン -->
      <div class="modal-close">×</div>
      <!-- モーダル内のコンテンツ -->
      <div class="modal-content">
      </div>
    </div>
  </div>
</body>
</html>
